.project-view {
  flex-grow: 1;
  padding: 1rem 1.5rem;
}

.project-view header {
  padding-block: 1rem;
}

.project-name {
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
  color: silver;
}

.project-name::before {
  content: "# ";
}

.todos {
  padding-block: 1rem;
}

.todos .section-header {
  font-size: 1rem;
  text-transform: uppercase;
  width: 100%;
  padding-block: 0.5rem;
  opacity: 0.5;
  border-bottom: 1px solid grey;
}

.todo-list {
  padding-block: 1rem;
}

.placeholder-text {
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: silver;
  padding: 2rem 1rem;
}
